# Entorno y secretos
.env
.env.local
*.env

# Control de versiones
.git
.gitignore

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp

# Documentación
README.md
*.md

# Sistema
.DS_Store
Thumbs.db
